body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto 0;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand h1 {
    margin: 0;
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 700;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    font-weight: 500;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    position: relative;
}

nav ul li a:hover {
    color: #666;
}

nav ul li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #666;
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
}

nav ul li a:hover::after {
    width: 100%;
    left: 0;
}

main {
    overflow: hidden; /* Ensure proper layout with 100vh */
}

section {
    padding: 50px 0;
    border-top: 1px solid #ddd; /* Add grey divider between sections */
    text-align: center;
}

#home {
    height: 100vh; /* Make hero section 100% in height */
}
